*{
  box-sizing: border-box;
  background-color: #e7eff5;
}
html{
  font: normal 20px 'Roboto', sans-serif;
  text-align: center;
}
#rectangle{
background-color: #8f1739;
text-align: center;
}
#rectangle{
  width: 20vw;
  height: 20vh;
  line-height: 20vh;
  margin: 10vh auto;
}
h1.responsive-text{
  font-size: 4vw;
}